* {
  margin: 0px auto;
  padding: 0px auto;
}

body {
  width: 100%;
  background-color: #f9fcff;
}

.clearfix {
  clear: both;
  float: none;
}

/*-------------------CSS HEADER-----------------*/
header {
  background-color: black;
  width: 100%;
  height: 110px;
  margin: 0px auto;
  font-family: "Courgette", cursive;
}

#carrito {
  color: lemonchiffon;
  font-size: 50px;
  right: 130px;
  top: 25px;
  position: absolute;
}

#carrito > span{
  font-size: 22px;
  color: yellow;
}

#btn-carrito{
  color: white;
  position: absolute;
  right: 140px;
  top: 80px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms;
}

#btn-carrito:hover{
  color: gold;
  transform: scale(1.0,1.1);
}

header > h1 {
  margin-left: 30px;
  font-size: 50px;
  padding-top: 20px;
  text-shadow: 1px 1px 2px black;
  color: rgb(248, 248, 248);
}

#icon-autoClasic{
  color: lemonchiffon;
  position: absolute;
  left: 350px;
  top:35px;
  font-size: 40px;
}

/*-------------------CSS NAV--------------------*/

nav > ul {
  text-align: center;
  background-color: #daf0fd;
}

 nav > ul > li {
  display: inline-block;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  font:bold;
  font-family: 'Shippori Antique', sans-serif;
  margin-left: 30px;
  margin-top: 13px;
  transition: all 200ms;
}

nav > ul > li:hover{
  transform: scale(1.2,1.2);
}

nav > ul > li > a{
  color: black;
  text-decoration: none;
}

nav > ul > li:first-child > a{
  color: rgb(214, 195, 24);
  text-shadow: 1px 2px 5px black;
  font-size: 25px;
}

nav > ul > li > a:hover{
  color: rgb(214, 195, 24);
  text-shadow: 1px 2px 5px black;
}

/*----------------------CSS CARRUSEL-------------------*/
#carrusel {
  width: 65%;
  height: 425px;
  margin-top: 60px;
  margin-bottom:96px;
}

.bx-wrapper, .bx-viewport{
  max-width: 1111px!important;
  height: 404px!important;
}

.bx-wrapper img {
  max-width: 101%;
  height: 404px;
  display: block;
}

#alert {
  min-height: 0px;
  background-color: #f9fcff;
  width: 90%;
  margin-top: 40px;
  margin-bottom: -10px;
  border-radius: 5px;
}

#contenidoPrincipal {
  width: 90%;
}

/*----------------------CSS ARTICULOS-------------------*/

#articulos {
  float: left;
  width: 67%;
  background-color: #f9fcff;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

article {
  background-color: white;
  width: 23%;
  float: left;
  min-height: 366px;
  margin-left: 20px;
  margin-bottom: 28px;
  border: 1px solid rgb(216, 216, 216);
  transition: all 200ms;
  cursor: pointer;
}

.autoComprado{
  background-color: lemonchiffon;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  cursor: pointer;
}

article:hover{
  transform: scale(1.1,1.1);
  box-shadow:1px 1px 10px 1px rgb(39, 39, 39);
}

article > img {
  width: 100%;
  height: 180px;
}

.ul {
  margin-left: -27px;
  line-height: 15px;
  list-style: none;
  margin-bottom: 12px;
}


.ul > li{
  width: 100%;
  color: black;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding-top: 5px;
}


.precio {
  background-color: lemonchiffon;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  cursor: pointer;
}

.precio:hover{
  background-color: rgb(255, 241, 161);
  box-shadow:1px 1px 8px 1px rgb(255, 241, 161);
}

article > h2 {
  background-color: #ff8f00;
  text-align: center;
  color: whitesmoke;
  font-family: Arial, sans-serif;
  font-size: 20px;
  min-height: 45px;
  line-height: 45px;
}

/*-------------------------CSS ASIDE----------------------------*/

aside {
  width: 30%;
  float: right;
  margin-top: 13px;
  border-radius: 5px;
  min-height: 1100px;
}

img {
  width: 100%;
  height: 300px;
}

#titulosAside {
  text-align: center;
  color: black;
  font-family: 'Shippori Antique', sans-serif;
  margin: 0px auto;
  font-size: 20px;
  padding: 15px;
}

aside > #quienSoy > p {
  color: black;
  font-size: 18px;
  padding: 10px;
}

#quienesSomos,
#identificate {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 2px 2px 3px 1px rgb(175, 174, 174);
}

#identificate {
  width: 65%;
  margin-top: 40px;
  min-height: 148px;
  padding: 10px;
}

#p-bienvenido{
  text-align: center;
  margin-right: 7px;
  margin-top: 12px;
  color: goldenrod;
  font-size: 20px;
  text-shadow: 1px 1px 7px rgb(255 255 165);
}

input {
  display: block;
}

label {
  text-align: center;
  font-size: 22px;
  color: black;
}

input[type="text"],input[type="password"] {
  margin: 10px;
  width: 60%;
  margin-left: -1px;
  outline: none;
}

input[type="button"] {
  margin: 20px;
  margin-left: 1px;
  font-size: 18px;
  width: 30%;
  height: 30px;
  cursor: pointer;
  outline: none;
  color: rgb(167, 142, 4);
  border-radius: 5px;
  background-color: rgb(243, 239, 239);
  border: 1px solid rgb(175, 175, 175);
  margin-top: 8px!important;
}

input[type="button"]:hover{
  background-color: rgb(59, 59, 59);
  color: goldenrod
}

form {
  display: block;
  margin-left: 60px;
  margin-top: 12px;
}

#identificate-alerta {
  width: 70%;
  min-height: 0px;
  margin-top: 7px;
  color: rgb(173, 233, 186);
  text-align: center;
  font-size: 19px;
}

a{
  color: rgb(156, 148, 76);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: goldenrod;
  text-shadow: 1px 1px 7px rgb(255, 255, 165);
}

#presentacion{
  font-size: 18px;
  margin: 7px;
}

#presentacion-inicial{
  font-size: 18px;
  margin: 7px;
}

#btn-leerMas{
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 2px;
  margin-top: -5px;
  color: goldenrod;
  font-size: 15px;
  transition: all 200ms;
}

#btn-leerMas:hover{
  color: gold;
  transform: scale(1.0,1.1);
}

/*--------------------------CSS FOOTER-----------------------------------*/

footer {
  background-color: black;
  min-height: 90px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  line-height: 90px;
  text-shadow: 1px 1px 3px black;
  margin-top: 30px;
}


/* ------------Aca comienza el responsive con mediaquery -------------- */

/* Responsive para iPad */
@media(max-width: 1825px) {
    #articulos{
        width: 100%;
    }

    #articulos article{
      width: 30%;
    }
    #articulos article ul li{
        font-size: 13px;
      }
    aside{
        width: 100%;
    }
    #quienSoy > img{
        width: 80%;
        margin-left: 72px;
        border-radius: 5px;
    }
}

@media(max-width: 751px) {
    header > h1{
      font-size: 30px;
      margin-left: 10px;
    }
    #icon-autoClasic{
      color: lemonchiffon;
      position: absolute;
      left: 200px;
      top:25px;
      font-size: 30px;
    }
    #nombre-proyecto{
        font-size: 30px;
    }
    #articulos{
        width: 90%;
    }

    #articulos article{
      width: 85%;

    }
    #articulos article > p{
        font-size: 13px;
      }
    aside{
        width: 100%;
    }
    #quienSoy > img{
        width: 80%;
        margin-left: 72px;
        border-radius: 5px;
    }
    #carrito{
        right: 40px;
        min-height: 70px;
    }
    nav > ul{
        text-align: unset;
    }
    nav > ul > li{
        margin-left: 0px;
        margin-right: 23px
    }
    #quienSoy > img{
        width: 80%;
        margin-left: 35px;
        border-radius: 5px;
    }
    input[type="button"]{
        width: 60%;
    }
    footer{
        font-size: 20px;
        min-height: 45px;
        line-height: 25px;
    }
    #alert{
        min-height: 40px;
    }
    #alert >p{
        font-size: 15px;
        line-height: 20px
    }
}

@media(max-width: 375px) {
  header > h1{
      font-size: 30px;
      margin-left: 10px;
    }
    #icon-autoClasic{
      color: lemonchiffon;
      position: absolute;
      left: 200px;
      top:25px;
      font-size: 30px;
    }
    #nombre-proyecto{
        font-size: 30px;
    }
    #articulos{
        width: 90%;
    }

    #articulos article{
      width: 85%;

    }
    #articulos article > p{
        font-size: 13px;
      }
    aside{
        width: 100%;
    }
    #quienSoy > img{
        width: 80%;
        margin-left: 72px;
        border-radius: 5px;
    }
    #carrito{
        right: 40px;
        min-height: 70px;
    }
    nav > ul{
        text-align: unset;
    }
    nav > ul > li{
        margin-left: 0px;
        margin-right: 23px
    }
    #quienSoy > img{
        width: 80%;
        margin-left: 35px;
        border-radius: 5px;
    }
    input[type="button"]{
        width: 60%;
    }
    footer{
        font-size: 15px;
        min-height: 40px;
        line-height: 25px;
    }
    #alert{
        min-height: 40px;
    }
    #alert >p{
        font-size: 15px;
        line-height: 20px
    }
}